<h1 style="font-family:verdana;">This is a heading</h1>
<tag $if="$x">if hello</tag>
<button $disabled="$x">disabeld</button>
<h1  class="hello" $class = "'hello': $x, 'meow':$x"> style test </h1>
<h1 $style = "'background-color: red; color:yellow;' : $x, 'font-size:100px' : $x"> style test </h1>

<h1 $for = "n of items">
    hello {{$i + 1}} i missed {{$n}}  {{$n}} {{$n}} {{$i}} <br>
</h1>

<div $for = "n of items">
   
    <div $for = "f of items:k">
        {{$i}} hello {{$k}} {{$n}}<br>
    </div>
</div>

<div $for = "n of arr2d">
    <div $for = "h of n:k" >
        {{$h}}
    </div>
</div>