// add your style in this file  if it can be used in multiple pages
// If your style is specific for a page you have to  create a sass file for the page and add them in it.
// If your style is specific please use this way when naming : pagename-classname
$font-title: #707070;
$button-font:#D8CFCF;
$outer-border-color:#e7e7e7;
$create-button-color:#c8f3d9;


.head {
    height: 100px;
    margin-top: 8%;
}

.head-title {
    direction: rtl;
    margin-right: 2%;
    font-size: 73px;
    color: $font-title;
}

.user-info {
    
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
}

.contain {

     width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid $outer-border-color 1px;
    margin-top: 3%;
    
}

.user-fname {
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-top: 14px;
    justify-content: center;

}

.first-name {
    margin-top: 3%;
    margin-left: 2%;
    font-size: 30px;

}

.user-firstname {
    border: solid $outer-border-color 1px;
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 1%;
    margin-right: 6%;
}

.fname {
    height: 95%;
    width: 96%;
    border: none;
    outline: none;
    font-size: 31px;
    margin-right: 3%;

}


.user-lname {
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-top: 14px;
    justify-content: center;
}

.last-name {
    margin-top: 3%;
    margin-left: 2%;
    font-size: 30px;

}

.user-lastname {
    border: solid $outer-border-color 1px;
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 1%;
    margin-right: 6%;

}

.lname {
    height: 95%;
    width: 96%;
    border: none;
    outline: none;
    font-size: 31px;
    margin-right: 3%;

}

.user-email {
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-top: 14px;
    justify-content: center;
}

.email-name {
    margin-top: 3%;
    margin-left: 2.7%;
    font-size: 30px;

}

.email-of-user {
    border: solid $outer-border-color 1px;
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 1%;
    margin-right: 10%;
    

}

.email {
    height: 95%;
    width: 96%;
    border: none;
    outline: none;
    font-size: 31px;
    margin-right: 3%;

}

.user-password {
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-top: 14px;
    justify-content: center;
}

.pass-name {
    margin-top: 3%;
    margin-left: 2.1%;
    font-size: 30px;
}

.pass {
    border: solid $outer-border-color 1px;
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 1%;
    margin-right: 5%;
}

.password {
    height: 95%;
    width: 96%;
    border: none;
    outline: none;
    font-size: 31px;
    margin-right: 3%;


}

.user-conpassword {
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-top: 14px;
    justify-content: center;
}

.conpass-name {
    margin-top: 3%;
    margin-left: 2.1%;
    font-size: 30px;
}

.conpass {
    border: solid $outer-border-color 1px;
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 1%;
    margin-right: -1%;
}

.conpassword {
    height: 95%;
    width: 96%;
    border: none;
    outline: none;
    font-size: 31px;
    margin-right: 3%;

}


.create-new-user {
    margin-top: 14px;
    font-size: 30px;
    border-radius: 15px;
    width: 31%;
    padding: 1%;
    outline: none;
    background-color:$create-button-color;
    cursor: pointer;
    margin-right: 60%;
    border: none;
    margin-bottom: 2.5%;
}
.username{
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin-top: 14px;
    justify-content: center;

}
.name-of-user{
    margin-top: 3%;
    margin-left: 2.1%;
    font-size: 30px;
}
.user-nname{
    border: solid $outer-border-color 1px;
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 1%;
    margin-right: 4%;
}
.name-user{
    height: 95%;
    width: 96%;
    border: none;
    outline: none;
    font-size: 31px;
    direction: ltr; 
    margin-left: 3%;
    
}