<!--
    NNN website.

    This file is part of the NNN website.

    Authors:diana mujahed

    File description: this is the html code for the category page
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/categories.css">
</head>

<body>
    <div class="header"></div>
    <div class="main-content">
        <p class="category-name">الاخبار العالمية</p>
        <hr>
        <div class="container">
            <div class="right-col">
                <div class="top-row">
                    <div class="right">
                        <div class="recent-new"></div>
                    </div>
                    <div class="left"></div>
                </div>
                <div class="bottom-row">
                    <div class="card new-category"></div>
                </div>
            </div>
            <div class="left-col">
                <p class="title">منوعات</p>
                <ul>
                    <li class="card random-new">
                        <img src="" alt="">
                        <p>
                        </p>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>

</html>