<!--
    NNN website.

    This file is part of the NNN website.

    Authors:
    diana mujahed
    Amir Altakroori
    Ibrahim Abusamrah

    File description: html code for main section and right sidebar
    in category page for normal user view.
-->

<div class="category-view">
    <p class="category-view-name">الاخبار العالمية</p>
    <hr>
    <div class="category-view-container">
        <div class="right-col">
            <div class="main_category_section">
                <div class="right_sidebar">
                    <div class="news_list">
                        <div class="news" id="right_news_id_1" onclick="showNewsInMainSectionFromDiv(1)">
                            <img src="img/deleteit.jpeg" alt="news image">
                            <p></p>
                        </div>
                        <div class="news" id="right_news_id_2" onclick="showNewsInMainSectionFromDiv(2)">
                            <img src="" alt="news image">
                            <p></p>
                        </div>
                        <div class="news" id="right_news_id_3" onclick="showNewsInMainSectionFromDiv(3)">
                            <img src="" alt="news image">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="main_section">
                    <div class="main_news">
                        <img id="main_news_image" src="" alt="main news image">
                        <div class="details">
                            <h3 id="main_news_title"></h3>
                            <div id="writng_details">
                                <div id="writer"></div>
                                <img src="img/calenderIcon.png" alt="calender icon">
                                <div id="date"></div>
                            </div>
                        </div>
                        <p></p>
                        <div id="see_more">
                            <img src="img/arrowIcon.png" alt="arrow icon">
                            <p>اقرأ المزيد</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="relates_news">
                <div class="related_news_left">

                    <ul id="related_news_menu_left">


                    </ul>

                </div>
                <div class="related_news_left">

                    <ul id="related_news_menu_right">

                    </ul>

                </div>
            </div>
        </div>
        <div class="left-col">
            <p class="title">منوعات</p>
            <ul id="random-content">


            </ul>
        </div>
    </div>
</div>

<script src="../controller/categories.js"></script>
