<!--
    NNN website.

    This file is part of the NNN website.

    Authors: Amir Altakroori

    File description: html code for main section and right sidebar
    in category page for normal user view.
-->


<!--
<div class="main_category_section">
    <div class="right_sidebar">
        <div class="news_list"> </div>
    </div>
    <div class="main_section"> </div>
</div>
-->


<!--
    NNN website.

    This file is part of the NNN website.

    Authors: Amir Altakroori

    File description: this is the html code for main section and right sidebar
    in category page
-->

<!DOCTYPE html>

<html lang="ar">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="css/categories.css">
    <script type="text/JavaScript" src="../model/categories.js"></script>
</head>

<body>
    <div class="main_category_section">
        <div class="right_sidebar">
            <div class="news_list">
                <div class="news" id="right_news_id_1">
                    <img src="" alt="news image">
                    <p></p>
                </div>
                <div class="news" id="right_news_id_2">
                    <img src="" alt="news image">
                    <p></p>
                </div>
                <div class="news" id="right_news_id_3">
                    <img src="" alt="news image">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="main_section">
            <div class="main_news">
                <img src="" alt="main news image"></img>
                <div class="details">
                    <h3></h3>
                    <div class="writng_details">
                        <div class="writer"></div>
                        <img src="images/calenderIcon.png" alt="calender icon">
                        <div class="date"></div>
                    </div>
                </div>
                <p></p>
                <div class="see_more">
                    <img src="images/arrowIcon.png" alt="arrow icon">
                    <p>اقرأ المزيد</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>