<!--
    NNN website.

    This file is part of the NNN website.

    Authors:Abed Al-Fattah Hroub,Latifa Masri

    File description:Here we design and write the html code for the show and details of the news,
                     based on the design included in the Prototype
-->



    <!--

    header & nav

   -->



    <div class="details_page_wrapper">
        <!-- Contains news title and photo & Show other related news -->
        <div class="part_1">
            <section class="news_header">
                <h1>
                    هونغ كونغ.. انتخابات على وقع التوتر
                </h1>
                <figure class="main_img">
                    <img src="img/new2.png" alt="صورة">
                </figure>
            </section>
            <aside class="news_related">
                <h5>ذات صلة </h5>

                <ul class="related_news_menu">
                    <li>
                        <img src="img/new.jpg" alt="صورة">
                        <p>
                            لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات
                        </p>
                    </li>
                    <li>
                        <img src="img/new.jpg" alt="صورة">
                        <p>
                            لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات
                        </p>
                    </li>
                    <li>
                        <img src="img/new.jpg" alt="صورة">
                        <p>
                            لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات
                        </p>
                    </li>
                    <li>
                        <img src="img/new.jpg" alt="صورة">
                        <p>
                            لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات
                        </p>
                    </li>
                    <li>
                        <img src="img/new.jpg" alt="صورة">
                        <p>
                            لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات
                        </p>
                    </li>
                    <li>
                        <img src="img/new.jpg" alt="صورة">
                        <p>
                            لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات
                        </p>
                    </li>

                </ul>
            </aside>
        </div>
        <!-- Contains the full text of the news & news sharing -->
        <div class="part_2">
            <article class="article">
                <p>
                    اعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها<br> من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة<br>، وهو العطاء الذي مُنح لشركة مايكروسوفت
                </p>
                <p>
                    اعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة<br>، وهو العطاء الذي مُنح لشركة مايكروسوفت </p>
                <p>
                    اعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة<br>، وهو العطاء الذي مُنح لشركة مايكروسوفت </p>
                <p>
                    اعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة<br>، وهو العطاء الذي مُنح لشركة مايكروسوفت </p>
            </article>

            <section id="news_sharing">

            </section>
        </div>
        <!-- Contains comments section -->
        <div class="part_3">
            <section id="add_comment">
            </section>
            <aside class="list_comment">

            </aside>
        </div>

    </div>



    <!--

     footer

   -->


