<!--
    NNN website.

    This file is part of the NNN website.

    Authors:
    Qusai Hroub <qusaihroub.r@gmail.com>
    Rahmeh Tartouri <rahmeh.tartouri@gmail.com>
    Aseel Arafeh <arafehaseel@gmail.com>
    Suhair Shareef <suhairshareef1999@gmail.com>

    File description:
-->

<link rel="stylesheet" type="text/css" href="css/home.css" />

<!-- HOME VIEW -->

<div class="home-view">

    <!-- LATEST NEWS -->
    <div class="latest-news">
        <div class="latest-news-container">
            <div class="latest-news-list-header">
                <p>آخر الأخبار</p>
            </div>
            <div id="latest-news-list">
            </div>
        </div>
        <div id="latest-news-more-detailed-container">
            <div class="latest-news-more-detailed-image-div">
                <img class="latest-news-more-detailed-image" src="" alt="">
            </div>
            <div class="latest-news-more-detailed-title-and-date">
                <div class="latest-news-more-detailed-title">
                </div>
                <div class="latest-news-more-detailed-date">
                </div>
            </div>
            <div class="latest-news-more-detailed-paragraph">
            </div>
            <div class="latest-news-more-detailed-readmore-button">
            </div>
        </div>
    </div>

    <!-- RANDOM NEWS -->
    <div class="random-news">
        <div onclick="plusDivs(-1);" class="imagesPrev"><img src="img/arrow.png" ></div>

        <div id="rendom-news-container" class="rendom-news-container">

        </div>

        <div onclick="plusDivs(1);" class="imagesNext"><img src="img/arrow-left.png"></div>
    </div>

    <!-- CATEGORY SECTION -->
    <div class="category-section">
        <div class="category-container">
            <div class="category-header">
                <div class="category-header-name">الأخبار العالمية</div>
                <div class="category-read-more "><a class="read-more-btn" href=#categories> المزيد &gt;</a></div>
            </div>
            <hr>
            <div class="category-content">
                <div class="category-content-main">
                    <div class="category-main-image-div">
                        <img id="category-image" src="img/img1.jpg" alt="">
                    </div>
                    <div class="category-main-title-and-date">
                        <div class="category-main-title">فوز البرازيل بكأس العالم</div>
                        <div class="category-main-date">Jul/10/2017</div>
                    </div>
                    <div class="category-main-details">فاز فريق البرازيل بكأس العالم لهذا العام فاز فريق البرازيل بكأس العالم لهذا العام فاز فريق البرازيل بكأس العالم لهذا العام فاز فريق البرازيل بكأس العالم لهذا العامفاز فريق البرازيل بكأس العالم لهذا العامفاز فريق البرازيل بكأس العالم لهذا العام</div>
                    <a class="read-more-btn category-btn" href=#details>اقرأ المزيد &gt;</a>
                </div>
                <div class="category-content-random">
                    <div class="category-content-random-item one">
                        <img class="category-img-rnd" id="category-image" src="img/img1.jpg" alt="">
                        <div class="category-randome-title">فوز البرازيل بكأس العالفوز البرازيل بكأس العالفوز البرازيل بكأس العالفوز البرازيل بكأس العالفوز البرازيل بكأس العالفوز البرازيل بكأس العالفوز البرازيل بكأس العالفوز البرازيل بكأس العالم</div>
                    </div>
                    <div class="category-content-random-item two">
                        <img class="category-img-rnd" id="category-image" src="img/img1.jpg" alt="">
                        <div class="category-randome-title">فوز البرازيل بكأس العالم</div>
                    </div>
                    <div class="category-content-random-item three">
                        <img class="category-img-rnd" id="category-image" src="img/img1.jpg" alt="">
                        <div class="category-randome-title">فوز البرازيل بكأس العالم</div>
                    </div>
                    <div class="category-content-random-item four">
                        <img class="category-img-rnd" id="category-image" src="img/img1.jpg" alt="">
                        <div class="category-randome-title">فوز البرازيل بكأس العالم</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../controller/home.js"></script>
