
<!--
    NNN website.

    This file is part of the NNN website.

    Authors:
    Qusai Hroub <qusaihroub.r@gmail.com> ,
    Rahmeh Tartouri <rahmeh.tartouri@gmail.com>

    File description:
-->

<!-- HOME VIEW -->

        <link rel="stylesheet" type="text/css" href="css/index.css" />

            <div class="home-view">

                    <!-- LATEST NEWS -->
                    <div class="latest-news">
                        <div class="latest-news-container">
                            <div class="latest-news-list-header">
                                <p>اخر الاخبار</p>
                            </div>
                            <div class="latest-news-list">
                                <div class="news1">
                                    <img src="images/firstNews.jpg" width="170px" height="90px">
                                    <p></p>
                                </div>
                                <div class="news2">
                                    <img src="images/firstNews.jpg" width="170px" height="90px">
                                    <p></p>
                                </div>
                                <div class="news3">
                                    <img src="images/firstNews.jpg" width="170px" height="90px">
                                    <p></p>
                                </div>
                                      
                            </div>
                        </div>

                        <div class="latest-news-more-detailed-container">
                            <div class="latest-news-more-detailed-image-div">
                                <img id="latest-news-more-detailed-image" src="images/firstNews.jpg" width="620px" height="340px">
                            </div>
                            <div class="latest-news-more-detailed-title-and-date">
                                <div class="latest-news-more-detailed-title">
                                    <h4></h4>
                                </div>
                                <div class="latest-news-more-detailed-date">
                                    <p>admin</p>
                                    <img src="images/calenderIcon.png" width="15px" height="15px">
                                    <p>jul / 15 /2018</p>
                                    
                                </div>
                            </div>
                            <div class="latest-news-more-detailed-paragraph">
                                    <p></p>
                            </div>
                            <div class="latest-news-more-detailed-readmore-button">
                                    <img src="images/arrowIcon.png" width="17px" height="17px">
                                    <p>اقرأ المزيد</p>
                            </div>
                        </div>

                    </div>

                    <!-- RANDOM NEWS -->
                    <div class="random-news">
                        <div class="rendom-news-container">

                        </div>
                    </div>

                    <!-- CATEGORY SECTION -->
                    <div class="category-section">
                        <div class="category-section-container">

                        </div>
                    </div>
                </div>


