
<!--
    NNN website.

    This file is part of the NNN website.

    Authors:
    Qusai Hroub <qusaihroub.r@gmail.com> ,
    Rahmeh Tartouri <rahmeh.tartouri@gmail.com>

    File description:
-->

<!-- HOME VIEW -->
<!DOCTYPE html>

<!-- R: since we work MVC, I think we don't need html, body and head tags in html file for view. -->
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
    </head>
    <body>

            <div class="home-view">

                    <!-- LATEST NEWS -->
                    <div class="latest-news">
                        <div class="latest-news-container">
                            <div class="latest-news-list-header">
                                <p>اخر الاخبار</p>
                            </div>
                            <div class="latest-news-list">

                            </div>
                        </div>

                        <div class="latest-news-more-detailed-container">
                            <div class="latest-news-more-detailed-image-div">
                                <img id="latest-news-more-detailed-image" src="" alt="">
                            </div>
                            <div class="latest-news-more-detailed-title-and-date">
                                <div class="latest-news-more-detailed-title">

                                </div>
                                <div class="latest-news-more-detailed-date">

                                </div>
                            </div>
                            <div class="latest-news-more-detailed-paragraph">

                            </div>
                            <div class="latest-news-more-detailed-readmore-button">

                            </div>
                        </div>

                    </div>

                    <!-- RANDOM NEWS -->
                    <div class="random-news">
                        <div class="rendom-news-container">

                             <!--R: I think we should push the code without code for testing or examples code.-->
                            <div class="firstNews">
                                <div class="date">jul/15/2019</div>

                                <!--R: I think that the arrows should be out of news box, also for each news should has its own image box to load its image on it. -->
                                <div class="images"><img src="./images/arrow.png" ></div>
                                <div class="news">
                                     القضاء البريطاني يتهم إيرلنديا في قضية شاحنة الجثث
                                </div>
                            </div>
                            <div class="secondNews">
                                <div class="date">jul/15/2019</div>
                                <div class="news">
                                    القضاء البريطاني يتهم إيرلنديا في قضية شاحنة الجثث
                                </div>
                            </div>
                            <div class="thirdNews">
                                <div class="date">jul/15/2019</div>
                                <div class="news">
                                     القضاء البريطاني يتهم إيرلنديا في قضية شاحنة الجثث
                                </div>
                            </div>
                            <div class="fourthNews">
                                <div class="date">jul/15/2019</div>
                                <div class="images"><img src="./images/arrow-left.png"></div>
                                <div class="news">
                                    القضاء البريطاني يتهم إيرلنديا في قضية شاحنة الجثث
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- CATEGORY SECTION -->
                    <div class="category-section">
                        <div class="category-section-container">

                        </div>
                    </div>
                </div>


    </body>
