/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Aseel Arafeh <arafehaseel@gmail.com>

     File description:
     this variable special for slider design
*/
$arrow-width:12px;
$arrow-height:18px;
$newsImage-width:265px;
$newsImages-height:210px;
$newsImage-margin:8PX;
$newsImage-float:right;
$newsText-align:center;
$newsText-fontFamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$newsText-fontSize:14px;
$newsText-color:white;
$arrow-margin-top:-130px;
$arrow-margin :10px;

$colors: (

     websiteColor:  #D63031,
     borderColor: #e7e7e7,
     textColor: #000000,
     whiteColor: #FFFFFF

);

$fonts: (

     websiteFont: Segoe UI

);

$buttons: (

     login: #0C4D6D,
     addComment: #EBEDED

);

