/*
     NNN website.

     This file is part of the NNN website.

     Authors:diana mujahed

     File description: this is the style scss code for thecategory page
*/


 
*{
     direction: rtl;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
     display: flex;
     justify-content: space-between;
}
.top-row{
     display: flex;
     justify-content: space-between;
}
.title{
     color: #0C4D6D;
margin: 3px;}
.card{
     display: flex;
    margin: 5px 0 5px 5px;
    align-items: center;
     
}
.left-col{
width: auto;
ul {
     padding: 0%;
     border-top:2px solid #cccccc;
     padding-top: 20px;
}
}
.random-new{
     font-size: 13px;
    a{ text-decoration: none; width: 170px;}
   img{
        width:120px;
        height: 70px;
        margin-left: 10px;

   }
   p{
       
   }
    
}
.category-name{
     color: #0C4D6D;
    padding-right: 50px;
    padding-top: 20px;

}
