/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     diana mujahed
     Amir Altakroori
     ibrahimabusamrah

     File description:
     this is the style css code for the category page
*/
* {
  direction: rtl;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .main_category_section {
  margin: auto;
  height: 550px;
  width: 861px;
}

body .main_category_section * {
  padding: 0%;
  margin: 0%;
}

body .main_category_section .right_sidebar {
  float: right;
  width: 23.34%;
}

body .main_category_section .right_sidebar .news_list .news {
  position: relative;
  margin-bottom: 6%;
}

body .main_category_section .right_sidebar .news_list .news img {
  width: 100%;
}

body .main_category_section .right_sidebar .news_list .news p {
  color: #ffffff;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  padding: 3%;
  word-wrap: break-word;
}

body .main_category_section .main_section {
  float: left;
  width: 75%;
  margin-right: 1.66%;
  position: relative;
}

body .main_category_section .main_section .main_news {
  width: 100%;
}

body .main_category_section .main_section .main_news img {
  width: 100%;
  height: 100%;
}

body .main_category_section .main_section .main_news #writng_details,
body .main_category_section .main_section .main_news .see_more {
  margin-left: 3%;
}

body .main_category_section .main_section .main_news .details {
  margin: 1%;
  overflow: hidden;
}

body .main_category_section .main_section .main_news .details h3 {
  float: right;
  font-size: #4D4F5C;
  color: #4D4F5C;
  width: 55%;
  word-wrap: break-word;
}

body .main_category_section .main_section .main_news .details #writng_details {
  direction: ltr;
  width: 40%;
  float: left;
}

body .main_category_section .main_section .main_news .details #writng_details * {
  display: inline;
  margin-right: 3%;
  color: #919192;
  word-wrap: break-word;
}

body .main_category_section .main_section .main_news .details #writng_details #writer,
body .main_category_section .main_section .main_news .details #writng_details #date {
  font-size: 14px;
}

body .main_category_section .main_section .main_news .details #writng_details img {
  width: 7%;
}

body .main_category_section .main_section .main_news p {
  margin: 3% 1% 0 3%;
  font-size: 20px;
  color: #707070;
}

body .main_category_section .main_section .main_news #see_more {
  float: left;
  width: 30%;
  direction: ltr;
}

body .main_category_section .main_section .main_news #see_more * {
  display: inline;
  color: #0C4D6D;
}

body .main_category_section .main_section .main_news #see_more img {
  width: 7%;
}

body .main_category_section .main_section .main_news #see_more p {
  font-size: 20px;
}

body .relates_news {
  margin: auto;
  height: 300px;
  width: 861px;
}

body .relates_news .related_news_left {
  float: right;
  width: 50%;
  overflow-y: scroll;
  height: 125%;
}

body .relates_news .related_news_left #related_news_menu_left {
  padding: 0px;
}

body .relates_news .related_news_left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  list-style-type: none;
}

body .relates_news .related_news_left ul li img {
  width: 140px;
  margin-left: 10px;
  padding: 10px;
}

body .relates_news .related_new_right ul li img {
  width: 140px;
  margin-left: 10px;
  padding-top: 5%;
}

.category-view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  color: #0C4D6D;
  margin: 3px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 5px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-col {
  width: auto;
  position: relative;
  right: 50px;
  top: 30px;
}

.left-col {
  width: auto;
  position: relative;
  left: 50px;
}

.left-col ul {
  padding: 0%;
  border-top: 2px solid #cccccc;
  padding-top: 20px;
}

.random-new {
  font-size: 13px;
}

.random-new a {
  text-decoration: none;
  width: 170px;
}

.random-new img {
  width: 120px;
  height: 70px;
  margin-left: 10px;
}

.category-view-name {
  color: #0C4D6D;
  padding-right: 50px;
  padding-top: 20px;
}
/*# sourceMappingURL=categories.css.map */