    /*
     NNN website.

     This file is part of the NNN website.

     Authors:
     diana mujahed
     Amir Altakroori
     ibrahimabusamrah

     File description:
     this is the style css code for the category page
*/
/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Aseel Arafeh <arafehaseel@gmail.com>
     Suhair Shareef <suhairshareef1999@gmail.com>

     File description:
     this variable special for slider design
*/
@media screen and (max-height: 1080px) {
  .main_category_section .right_sidebar .right-side-image {
    height: 173px;
    width: 309px;
    font-size: 17px; }
  .main_category_section .main_section .main_news {
    width: 907px; }
    .main_category_section .main_section .main_news #category_main_news_image {
      height: 510px; }
    .main_category_section .main_section .main_news #category_main_news_title {
      font-size: 28px; }
    .main_category_section .main_section .main_news #category_main_news_writer,
    .main_category_section .main_section .main_news #category_main_news_date {
      font-size: 14px; }
    .main_category_section .main_section .main_news #category_main_news_writng_details img {
      width: 12px; }
    .main_category_section .main_section .main_news p {
      font-size: 20px; }
    .main_category_section .main_section .main_news #category_see_more img {
      height: 15px;
      width: 7.5px; }
    .main_category_section .main_section .main_news #category_see_more p {
      font-size: 20px; }

  .random-new {
    font-size: 19px; }
    .random-new img {
      width: 174px;
      height: 97px;
      margin-left: 10px; }
    .random-new a {
      width: 170px; }

  .title {
    font-size: 22px;
    margin: 3px; }

  .category-view-name {
    font-size: 30px;
    padding-right: 50px;
    padding-top: 20px; }

  .card {
    margin: 5px 0 5px 5px; }

  .right-col {
    right: 50px;
    top: 30px; }

  .left-col {
    left: 50px; }
    .left-col ul {
      border-top-width: 2px;
      padding-top: 20px; }

  .relates_news {
    margin-right: 40px;
    width: 100%; }
    .relates_news .related_news_left {
      float: right;
      width: 670px;
      height: 639px;
      overflow-y: scroll; }
      .relates_news .related_news_left #related_news_menu_left {
        padding: 0px; }
      .relates_news .related_news_left ul li {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        width: 672px;
        list-style-type: none;
        margin-bottom: 42px;
        margin-top: 42px; }
        .relates_news .related_news_left ul li img {
          height: 160px;
          width: 280px;
          margin-left: 10px;
          padding: 10px; }
        .relates_news .related_news_left ul li p {
          padding-top: 45px;
          padding-bottom: 45px;
          font-size: 25px;
          width: 345px;
          height: 118px;
          font-family: Regular; }
    .relates_news .related_new_right ul li img {
      margin-left: 10px; } }
@media screen and (max-height: 810px) {
  .main_category_section .right_sidebar .right-side-image {
    height: 130px;
    width: 231px;
    font-size: 12.5px; }
  .main_category_section .main_section .main_news {
    width: 680px; }
    .main_category_section .main_section .main_news #category_main_news_image {
      height: 380px; }
    .main_category_section .main_section .main_news #category_main_news_title {
      font-size: 21px; }
    .main_category_section .main_section .main_news #category_main_news_writer,
    .main_category_section .main_section .main_news #category_main_news_date {
      font-size: 10.5px; }
    .main_category_section .main_section .main_news #category_main_news_writng_details img {
      width: 9px; }
    .main_category_section .main_section .main_news p {
      font-size: 15px; }
    .main_category_section .main_section .main_news #category_see_more img {
      height: 11.5px;
      width: 5.5px; }
    .main_category_section .main_section .main_news #category_see_more p {
      font-size: 15px; }

  .random-new {
    font-size: 14px; }
    .random-new img {
      width: 130px;
      height: 72px;
      margin-left: 7.5px; }
    .random-new a {
      width: 127.5px; }

  .title {
    font-size: 16px;
    margin: 2.25px; }

  .category-view-name {
    font-size: 22.5px;
    padding-right: 37.5px;
    padding-top: 15px; }

  .card {
    margin: 3.75px 0 3.75px 3.75px; }

  .right-col {
    right: 37.5px;
    top: 22.5px; }

  .left-col {
    left: 37.5px; }
    .left-col ul {
      border-top-width: 1.5px;
      padding-top: 15px; }

  .relates_news {
    margin-right: 30px;
    width: 100%; }
    .relates_news .related_news_left {
      float: right;
      width: 502.5px;
      height: 479.25px;
      overflow-y: scroll; }
      .relates_news .related_news_left #related_news_menu_left {
        padding: 0px; }
      .relates_news .related_news_left ul li {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        width: 504px;
        list-style-type: none;
        margin-bottom: 31.5px;
        margin-top: 31.5px; }
        .relates_news .related_news_left ul li img {
          height: 120px;
          width: 210px;
          margin-left: 7.5px;
          padding: 7.5px; }
        .relates_news .related_news_left ul li p {
          padding-top: 33.75px;
          padding-bottom: 33.75px;
          font-size: 18.75px;
          width: 258.75px;
          height: 88.5px;
          font-family: Regular; }
    .relates_news .related_new_right ul li img {
      height: 120x;
      width: 210px;
      margin-left: 7.5px; } }
@media screen and (max-height: 768px) {
  .main_category_section .right_sidebar .right-side-image {
    height: 123px;
    width: 219px;
    font-size: 12px; }
  .main_category_section .main_section .main_news {
    width: 645px; }
    .main_category_section .main_section .main_news #category_main_news_image {
      height: 362px; }
    .main_category_section .main_section .main_news #category_main_news_title {
      font-size: 20px; }
    .main_category_section .main_section .main_news #category_main_news_writer,
    .main_category_section .main_section .main_news #category_main_news_date {
      font-size: 10px; }
    .main_category_section .main_section .main_news #category_main_news_writng_details img {
      width: 8.5px; }
    .main_category_section .main_section .main_news p {
      font-size: 14px; }
    .main_category_section .main_section .main_news #category_see_more img {
      width: 5.5px;
      height: 10.5px; }
    .main_category_section .main_section .main_news #category_see_more p {
      font-size: 14px; }

  .random-new {
    font-size: 13.5px; }
    .random-new img {
      width: 124px;
      height: 70px;
      margin-left: 7px; }
    .random-new a {
      width: 121px; }

  .title {
    font-size: 15.5px;
    margin: 2px; }

  .category-view-name {
    font-size: 21.5px;
    padding-right: 35.5px;
    padding-top: 14px; }

  .card {
    margin: 3.5px 0 3.5px 3.5px; }

  .right-col {
    right: 35.5px;
    top: 21.5px; }

  .left-col {
    left: 35.5px; }
    .left-col ul {
      border-top-width: 1.4px;
      padding-top: 14px; }

  .relates_news {
    margin-right: 28.4px;
    width: 100%; }
    .relates_news .related_news_left {
      float: right;
      width: 476.4px;
      height: 454.4px;
      overflow-y: scroll; }
      .relates_news .related_news_left #related_news_menu_left {
        padding: 0px; }
      .relates_news .related_news_left ul li {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        width: 477.9px;
        list-style-type: none;
        margin-bottom: 29.9px;
        margin-top: 29.9px; }
        .relates_news .related_news_left ul li img {
          height: 113.8px;
          width: 199.1px;
          margin-left: 7.1px;
          padding: 7.1px; }
        .relates_news .related_news_left ul li p {
          padding-top: 32px;
          padding-bottom: 32px;
          font-size: 17.8px;
          width: 245.3px;
          height: 83.9px;
          font-family: Regular; }
    .relates_news .related_new_right ul li img {
      height: 113.8x;
      width: 199.1px;
      margin-left: 7.1px; } }
body .main_category_section {
  overflow: hidden;
  width: 100%; }
  body .main_category_section .centered-img-background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
  body .main_category_section .right_sidebar {
    float: right;
    width: 23.34%; }
    body .main_category_section .right_sidebar .news_list {
      overflow: hidden; }
      body .main_category_section .right_sidebar .news_list .news {
        float: left;
        margin-bottom: 6%; }
        body .main_category_section .right_sidebar .news_list .news .right-side-image {
          position: relative;
          overflow: hidden; }
          body .main_category_section .right_sidebar .news_list .news .right-side-image span {
            color: #ffffff;
            position: absolute;
            bottom: 0;
            padding: 3%;
            word-wrap: break-word; }
  body .main_category_section .main_section {
    float: left;
    width: 75%;
    margin-right: 1.66%;
    position: relative; }
    body .main_category_section .main_section .main_news {
      overflow: hidden; }
      body .main_category_section .main_section .main_news #category_main_news_writng_details,
      body .main_category_section .main_section .main_news .see_more {
        margin-left: 3%; }
      body .main_category_section .main_section .main_news .details {
        margin: 1%;
        overflow: hidden; }
        body .main_category_section .main_section .main_news .details h3 {
          float: right;
          color: #4d4f5c;
          width: 55%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        body .main_category_section .main_section .main_news .details #category_main_news_writng_details {
          width: 42%;
          float: left;
          direction: ltr; }
          body .main_category_section .main_section .main_news .details #category_main_news_writng_details * {
            display: inline;
            margin-right: 3%;
            color: #919192;
            word-wrap: break-word; }
        body .main_category_section .main_section .main_news .details #category_main_news_content_news {
          display: inline-block;
          color: #707070;
          box-sizing: border-box; }
      body .main_category_section .main_section .main_news #category_see_more {
        float: left;
        width: 30%;
        direction: ltr;
        margin-left: 2%; }
        body .main_category_section .main_section .main_news #category_see_more * {
          display: inline;
          color: #0c4d6d; }

.category-view-container {
  display: flex;
  justify-content: space-between; }

.title {
  color: #0C4D6D; }

.card {
  display: flex;
  align-items: center; }

.right-col {
  width: 80%;
  position: relative; }

.left-col {
  width: 20%;
  position: relative; }
  .left-col ul {
    border-top-color: #cccccc;
    border-top-style: solid; }

.random-new a {
  text-decoration: none; }

.category-view-name {
  color: #0C4D6D;
  color: #0C4D6D; }

/*# sourceMappingURL=categories.css.map */
