/*
     NNN website.

     This file is part of the NNN website.

     Authors:Latifa Masri and Abed Al-Fattah Hroub

     File description: this filew contain scss style of the detailes page
*/

// this line make import functions that exist in _function.css
@import "_functions.scss";
@import "_variables.scss";

/*
part1 contain the header of the new and the related news
*/

@media screen and (max-height: 1080px) {
    .news-content {
        .news_related {
            ul li {
                img {
                    width: 200px;
                }
            }
        }
        .news_header {
            .main_img {
                img {
                    // width: 1210px;
                    height: 570px;
                }
            }
        }
    }
    .part_3 {
        .add_comment {
            .comment {
                p {
                    left: 61%;
                }
            }
        }
    }
}

@media screen and (min-height: 810px) {
    .news-content {
        .news_related {
            ul li {
                img {
                    width: 190px;
                }
            }
        }
        .news_header {
            .main_img {
                img {
                    // width: 1200px;
                    height: 570px;
                }
            }
        }
    }
}

@media screen and (min-height: 768px) {
    .news-content {
        .news_related {
            ul li {
                img {
                    width: 180px;
                }
            }
        }
    }
}

* {
    direction: rtl;
}

.news-content {
    font-family: $newsText-fontFamily;
    border-top: solid 1px #707070;
    padding-top: 0%;
    margin-bottom: 0%;
    @include flex-property(row, flex-end, center, 100%);
    .news_related {
        @include flex-property(column, flex-start, flex-start, 28%);
        .related_news_menu {
            width: 90%;
        }
        ul li {
            @include flex-property(row, flex-start, flex-start, 100%);
            list-style-type: none;
            img {
                margin-left: 3%;
                margin-right: 0%;
                padding: 3%;
            }
        }
        h4 {
            margin-bottom: 20px;
            color: #0C4D6D;
        }
    }
    .news_header {
        h1 {
            font-size: $font-size + 15;
            margin-right: 10%;
            margin-bottom: 2%;
        }
        @include flex-property(column, flex-start, flex-start, 72%);
        .news_header {
            .main_img {
                // background-image: url("img/new2.png");
                background-color: red;
                
            }
        }
    }
}

.news-body {
    font-size: $font-size + 5;
    margin-right: 130px;
    p {
        padding-left: 50px;
    }
    .news_sharing {
        direction: ltr;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        .share-buttons {
            ;
            text-align: center;
            margin: 0 auto;
            a img {
                float: left;
                width: 30px;
                height: 30px;
                padding: 5px;
                border: 0;
                box-shadow: 0;
            }
        }
        .about {
            text-align: center;
            margin: 0 auto;
            a img {
                float: left;
                width: 25px;
                height: 25px;
                padding: 5px;
                border: 0;
                box-shadow: 0;
            }
            p {
                font-size: $font-size + 5;
                font-family: $newsText-fontFamily;
                padding-bottom: 10px;
            }
        }
    }
}

.part_3 {
    font-size: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
    padding-top: 20px;
    justify-content: center;
    .add_comment {
        display: grid;
        grid-template-rows: 50% 50%;
        border-left: solid 2px #707070;
        .comment {
            vertical-align: bottom;
            display: grid;
            grid-template-columns: 30% 70%;
            img {
              width: 45px;
              height: 45px;
               padding-right: 60%;
                padding-top: 155px;
            }
            p {
              padding-left: 70%;
               padding-top: 145px;

            }
        }
        .add {
            width: 70%;
            display: grid;
            grid-template-columns: 70% 30%;
            margin: 0 auto;
            input {
                height: 20%;
                border-radius: 0 10px 10px 0;
                border: solid 3px #EBEDED;
            }
            button {
                height: 20%;
                background-color: #EBEDED;
                border: none;
                border-radius: 10px 0 0 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
    .list_comment {
        margin-left: 20px;
        li {
            list-style-type: none;
        }
        img {
            width: 45px;
            height: 45px;
            padding: 0px;
        }
        p {
            padding-bottom: 15px;
        }
    }
}
