/*
     NNN website.

     This file is part of the NNN website.

     Authors:Latifa Masri and Abed Al-Fattah Hroub

     File description: this filew contain scss style of the detailes page
*/

// this line make import functions that exist in _function.css
@import "_functions.scss";

/*
part1 contain the header of the new and the related news
*/

@media screen and (max-height: 1080px) {

}

@media screen and (max-height: 810px) {

}

@media screen and (max-height: 768px) {

}

$font-s:40px;
.part_1 {
    @include flex-property(row, flex-end, center, 100%);
    .news_related {
        @include flex-property(column, flex-start, flex-start, 28%);
        .related_news_menu {
            border-top: solid 1px;
            width: 68%;
            margin-top: 5px;
            padding-top: 15px;
            padding-right: 0%;
        }
        ul li {
            @include flex-property(row, flex-start, flex-start, 100%);
            list-style-type: none;
            img {
                width: 140px;
                margin-left: 10px;
                padding: 10px;
            }
        }
        h5 {
            margin-bottom: 0px;
            color: #0C4D6D;
        }
    }
    .news_header {
        h1 {
            margin-right: 130px;
            font-size: $font-s;
            margin-bottom: 0px;
        }
        @include flex-property(column, flex-start, flex-start, 72%);
        .main_img {
            img {
                width: 1100px;
                height: 470px;
                padding: 0px 100px 5px 100px;
            }
        }
    }
}

.part_2 {
    font-size: $font-s - 15;
    margin-right: 130px;

  .news_sharing{
    direction: ltr;
    margin-left: 20%;
    .share-buttons {
      @include flex-property(column, flex-start, flex-start, 72%);
      display:inline-block;
    a img {
      width: 30px;
      height: 30px;
      padding: 5px;
      border: 0;
      box-shadow: 0;



        }
          }

          .about {

            display:inline-block;
          a img {
            float: left;
            width: 20px;
            height: 20px;
            padding: 5px;
            border: 0;
            box-shadow: 0;

              }
              p {

                font-size: 15px;
                padding-bottom:10px;
              }

                }

        }

      }


.part_3{

  .add_comment {
    float: right;
    height:400px;
    width:49%;
    border-left: solid 2px #707070;
    .comment {
      padding-right: 100px;
      padding-top: 100px;

      @include flex-property(row, flex-start, flex-start, 100%);


      img {

        width: 40px;
        height: 40px;
        padding: 5px;
      }
    }
    .add{
      padding-right: 100px;
      @include flex-property(row, flex-start, flex-start, 100%);

      input {

        width: 300px;
        height: 24px;
        border-radius: 0 10px 10px 0;
        border: solid 3px #EBEDED;

      }
      button {

        width: 90px;
        height: 31px;
        background-color: #EBEDED;

        border: none;
        border-radius: 10px 0 0 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
      cursor: pointer;
      }


    }
  }
  .list_comment {
    float: left;
    margin-left: 20px;
    height:400px;
    width:48%;


    li {
      list-style-type: none;
    }

      img {

        width: 40px;
        height: 40px;
        padding: 0px;
      }

      p {
        padding-bottom: 15px;
      }
  }

}
