/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Rahmeh Tartouri <rahmeh.tartouri@gmail.com>
     Aseel Arafeh <arafehaseel@gmail.com>

     File description:
     this file for slider design
*/

@import './variables';
@import './functions';

@include initialFormat();

@media screen and (max-height: 1080px) {

    .latest-news-more-detailed-image-div  {
        img{
            width: 922px;
            height: 505px;
        }
     }

     .news {


        p{
            margin-top: 30px;
        }

        img {

            width: 174px;
            height: 97px;
        }
        

     }

     .latest-news-more-detailed-paragraph {
        margin-top: 16px;
        
    }
    
    
    
        img {

            width: 220px;
            height: 140px;
        }
     

     .latest-news-more-detailed-paragraph {
        margin-top: 45px;
        
    }
    
}

@media screen and (max-height: 810px) {

    .latest-news-more-detailed-image-div  {
        img{
            width: 691.5px;
            height: 378.75px;
        }
     }

     .news {


        p{
            margin-top: 25px;
        }

        img {

            width: 130.5px;
            height: 72.75px;
        img {

            width: 200px;
            height: 120px;

        }
     }

     .latest-news-more-detailed-paragraph {

        margin-top: 14px;
        
    }


        margin-top: 43px;
        
    }

}

@media screen and (max-height: 768px) {

    .latest-news-more-detailed-image-div  {
        img{
            width: 656.925px;
            height: 359.111px;
        }
     }

     .news {


        p{
            margin-top: 20px;
        }

        img {

            width: 123.975px;
            height: 68.977777778px;

        img {

            width: 170px;
            height: 90px;

        }
     }

     
     .latest-news-more-detailed-paragraph {

        margin-top: 10px;
        
    }

        margin-top: 14px;
        
    }


}

.latest-news {
    display: flex;
    margin: auto;
    padding-top: 20px;
    .latest-news-container {
         margin: auto;
         height: 500px;

         .latest-news-list-header {

             float:right;
             border-bottom: 1px solid #707070;
             width: 400px;

             p{
                 float:right;
                 color:#0C4D6D;
                 font-size: larger;
                 margin-bottom: -0.1px;
             }
         }

         #latest-news-list{
             float: right;
             margin-top:60px;
             margin-right: -400px;

             .news{

                 margin-bottom: 12px;

                 p {

                     float: left;
                     margin-right: 10px;
                     color: #707070;
                     font-size:17px;
                 }
                
             }
         }
    }

        .latest-news-more-detailed-image-div  {
            img{
                margin-top:15px;
                margin-left: 10px;
            }
         }

         .latest-news-more-detailed-title-and-date {

            
             .latest-news-more-detailed-title{
                 float: right;
                 color:#4D4F5C ;
                 margin-top: 8px;
                
             }

             
        }

            

            
             
         }
     
     
     .latest-news-more-detailed-date{

                
        p{
        float: left;
        font-size: 12px;
        color: #919192;
        margin-top: 16px;
        margin-left: 10px;
        }

    
    
    img {

        float: left;
        margin-top: 16px;
        margin-left: 8px;
        margin-right: 3px;
        

    }
}


.latest-news-more-detailed-paragraph {
    float: right;
    color: #707070;
    font-size: 18px;
}

.latest-news-more-detailed-readmore-button {
     margin-top: 50px;
     p{
          float: left;
          margin-left: 2px;
          color: #0C4D6D;
          font-size: 17px;
          margin-top: 50px;
          
     }
     img{
          float: left;
          margin-top: 55px;
          margin-left: 7px;
     }
}


.random-news {
    width: 1448px;
    height: 280px;
    margin: auto;
    padding-top: 80px;

    .rendom-news-container{
         .slider-news-tile {

              @extend %allNews;
              .news{

                  position: relative;
                  bottom: -100px;
                   @extend %news;
              }


              .date{

                   @extend %newsDate;
              }

            }

    }
    .imagesNext {
        float: left;
        position: relative;
        left: 58px;
        top: 110px;
        border: 2px solid #00000000;
        img {

          @extend %sliderArrow;
          float: left;
          margin-left: $arrow-margin;
      }
    }

    .imagesPrev {
        float: right;
        position: relative;
        right: 30px;
        top: 110px;
        border: 2px solid #00000000;
        img {

          @extend %sliderArrow;
          float: right;
          margin-right: $arrow-margin;
        }
     }

     .imagesNext:hover, .imagesPrev:hover {
         border: 2px solid #184392;
     }

}


%sliderArrow {
    width: $arrow-width;
    height: $arrow-height;
    margin: 2px;
}

%newsDate {

     margin-bottom: 95px;
     margin-top: 6px;
     margin-left: 12px;
     color:$newsText-color;
     font-family:$newsText-fontFamily;
     font-size: $newsText-fontSize - 2;

}

%allNews{

     background-repeat: no-repeat;
     float: $newsImage-float;
     width: $newsImage-width;
     height: $newsImages-height;
     background-size: 446px 250px;
     margin-left: $newsImage-margin;

}

%news {

     color: $newsText-color;
     text-align: $newsText-align;
     font-family:$newsText-fontFamily;
     font-size: $newsText-fontSize;
}

%arrow {

     width: $arrow-width;
     height: $arrow-height;
     margin-top: $arrow-margin-top;

}
