/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Rahmeh Tartouri <rahmeh.tartouri@gmail.com>
     Aseel Arafeh <arafehaseel@gmail.com>

     File description:
     this file for slider design
*/

@import './variables';
@import './functions';

@include initialFormat();

.latest-news {
    display: flex;
    width: 1448px;
    margin: auto;
    padding-top: 20px;
    .latest-news-container {
         width: 1080px;
         margin: auto;
         height: 500px;

         .latest-news-list-header {

             float:right;
             border-bottom: 1px solid #707070;
             width: 400px;

             p{
                 float:right;
                 color:#0C4D6D;
                 font-size: larger;
                 margin-bottom: -0.1px;
             }
         }

         #latest-news-list{
             float: right;
             margin-top:60px;
             margin-right: -400px;

             .news{

                 margin-bottom: 12px;

                 p {

                     float: left;
                     margin-right: 7px;
                     color: #707070;
                     font-size:17px;
                 }
             }
         }
    }
    .latest-news-more-detailed-container {

        .latest-news-more-detailed-image-div  {
            img{
                margin-top:15px;
                margin-left: 10px;
            }
         }

         .latest-news-more-detailed-title-and-date {
             display: flex;

             .latest-news-more-detailed-title{

                 float: right;
                 margin-right: 460px;
                 color:#4D4F5C ;
                 margin-top:-5px;
             }

             .latest-news-more-detailed-paragraph {

                 float: right;
                 margin-right: 450px;
                 color: #707070;
                 margin-top: -24px;
                 font-size: 18px;
             }

             .latest-news-more-detailed-date{
                 margin-left: 8px;
             }

             .latest-news-more-detailed-date{

                 p{
                     float: left;
                     font-size: 14px;
                     color: #919192;

                 }
                 img {

                     float: left;
                     margin-top: 16px;
                     margin-left: 8px;
                     margin-right: 8px;

                 }
             }
         }
     }
}



.latest-news-more-detailed-readmore-button {
     margin-top: 50px;
     p{
          float: left;
          margin-top: -2px;
          margin-left: 2px;
          color: #0C4D6D;
          font-size: 17px;
     }
     img{
          float: left;
     }
}

.random-news {
    width: 1448px;
    height: 280px;
    margin: auto;
    padding-top: 80px;

    .rendom-news-container{
         .slider-news-tile {

              @extend %allNews;
              .news{

                  position: relative;
                  bottom: -100px;
                   @extend %news;
              }


              .date{

                   @extend %newsDate;
              }

            }

    }
    .imagesNext {
        float: left;
        position: relative;
        left: 58px;
        top: 110px;
        border: 2px solid #00000000;
        img {

          @extend %sliderArrow;
          float: left;
          margin-left: $arrow-margin;
      }
    }

    .imagesPrev {
        float: right;
        position: relative;
        right: 30px;
        top: 110px;
        border: 2px solid #00000000;
        img {

          @extend %sliderArrow;
          float: right;
          margin-right: $arrow-margin;
        }
     }

     .imagesNext:hover, .imagesPrev:hover {
         border: 2px solid #184392;
     }

}


%sliderArrow {
    width: $arrow-width;
    height: $arrow-height;
    margin: 2px;
}

%newsDate {

     margin-bottom: 95px;
     margin-top: 6px;
     margin-left: 12px;
     color:$newsText-color;
     font-family:$newsText-fontFamily;
     font-size: $newsText-fontSize - 2;

}

%allNews{

     background-repeat: no-repeat;
     float: $newsImage-float;
     width: $newsImage-width;
     height: $newsImages-height;
     background-size: 446px 250px;
     margin-left: $newsImage-margin;

}

%news {

     color: $newsText-color;
     text-align: $newsText-align;
     font-family:$newsText-fontFamily;
     font-size: $newsText-fontSize;
}

%arrow {

     width: $arrow-width;
     height: $arrow-height;
     margin-top: $arrow-margin-top;

}
