/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Rahmeh Tartouri <rahmeh.tartouri@gmail.com>

     File description:
*/
.rendom-news-container {
  width: 1084px;
  margin: auto;
}

.rendom-news-container .firstNews {
  background-image: url("../images/firstNews.jpg");
  background-repeat: no-repeat;
  float: right;
  width: 265px;
  height: 210px;
  background-size: 265px 160px;
  margin-left: 8PX;
}

.rendom-news-container .firstNews .news {
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.rendom-news-container .firstNews .date {
  color: white;
  margin-bottom: 95px;
  margin-top: 6px;
  margin-left: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.rendom-news-container .firstNews .images img {
  width: 13px;
  height: 18px;
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

.rendom-news-container .secondNews {
  background-image: url("../images/firstNews.jpg");
  background-repeat: no-repeat;
  float: right;
  width: 265px;
  height: 210px;
  background-size: 265px 160px;
  margin-left: 8PX;
}

.rendom-news-container .secondNews .news {
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.rendom-news-container .secondNews .date {
  color: white;
  margin-bottom: 95px;
  margin-top: 6px;
  margin-left: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.rendom-news-container .thirdNews {
  background-image: url("../images/firstNews.jpg");
  background-repeat: no-repeat;
  float: right;
  width: 265px;
  height: 210px;
  background-size: 265px 160px;
  margin-left: 8PX;
}

.rendom-news-container .thirdNews .news {
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.rendom-news-container .thirdNews .date {
  color: white;
  margin-bottom: 95px;
  margin-top: 6px;
  margin-left: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.rendom-news-container .fourthNews {
  background-image: url("../images/firstNews.jpg");
  background-repeat: no-repeat;
  float: left;
  width: 265px;
  height: 210px;
  background-size: 265px 160px;
}

.rendom-news-container .fourthNews .news {
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.rendom-news-container .fourthNews .date {
  color: white;
  margin-bottom: 95px;
  margin-top: 6px;
  margin-left: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.rendom-news-container .fourthNews .images img {
  width: 12px;
  height: 18px;
  float: left;
  margin-top: -40px;
  margin-left: 10px;
}
