<!--
    NNN website.

    This file is part of the NNN website.

    Authors:
    diana mujahed
    Amir Altakroori
    Ibrahim Abusamrah

    File description: html code for main section and right sidebar
    in category page for normal user view.
-->
<!--
<link rel="stylesheet" href="./css/categories.css">
<link rel="stylesheet" type="text/css" href="./css/index.css" />
-->


<div class="category-view">
    <p class="category-view-name">{{$name}}</p>
    <hr>
    <div class="category-view-container">
        <div class="right-col">

            <!-- Main section of category-->
            <div class="main_category_section">

                <!-- Right sidebar -->
                <div class="right_sidebar">
                    <div $for="news of listMainNews" class="news_list">
                        <div class="news" $click="changeMainNews({{$news}})">
                            <div class="centered-img-background right-side-image" style="background-image: url({{$news.attachments}});">
                                <span>{{$news.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main news section -->
                <div class="main_section">
                    <div class="main_news">

                        <!-- Main news image -->
                        <div id="category_main_news_image" class="centered-img-background" style="background-image: url({{$mainNews.attachments}});"></div>

                        <!-- Main news details -->
                        <div class="details">
                            <h3 id="category_main_news_title">{{$mainNews.title}}</h3>
                            <div id="category_main_news_writng_details">
                                <div id="category_main_news_writer">{{$mainNews.writer}}</div>
                                <img src="img/calenderIcon.png" alt="calender icon">
                                <span id="category_main_news_date">{{$mainNews.createDate}}</span>
                            </div>
                            <div id="category_main_news_content_news">{{$mainNews.content}}</div>
                        </div>

                        <!-- See more details -->
                        <div id="category_see_more">
                            <a href="/details/{{$mainNews.id}}">
                                <img src="img/arrowIcon.png" alt="arrow icon">
                                <p>اقرأ المزيد</p>
                            </a>
                        </div>

                    </div>
                </div>

            </div>


            <div class="relates_news">

                <div class="related_news_left">
                    <ul $for="news of rightNewsInCategory" id="related_news_menu_right">
                        <a href="/details/{{$news.id}}">
                            <li>
                                <img src="{{$news.img}}" alt="photo">
                                <p>{{$news.title}}</p>
                            </li>

                        </a>

                    </ul>

                </div>

                <div class="related_news_left">
                    <ul $for="news of liftNewsInCategory" id="related_news_menu_right">
                        <a href="/details/{{$news.id}}">
                            <li>
                                <img src="{{$news.img}}" alt="photo">
                                <p>{{$news.title}}</p>
                            </li>
                        </a>

                    </ul>
                </div>

            </div>
        </div>
        <div class="left-col">

            <p class="title">منوعات</p>
            <ul $for="news of randomNews" id="random-content">
                <li class="card random-new" id="{{$news.id}}">
                    <img src="{{$news.img}}" alt="">
                    <a href="/details/{{$news.id}}">{{$news.title}}</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<script src="../controllers/categories.js"></script>