<!--
    NNN website.

    This file is part of the NNN website.

    Authors:
    diana mujahed
    Amir Altakroori
    Ibrahim Abusamrah

    File description: html code for main section and right sidebar
    in category page for normal user view.
-->
 <!-- HEADER -->
 <div class="header" $include="/templates/header.html ,/controllers/header.js">

 </div>
<div class="category-view">

    <!-- Page contnet title -->
    <p class="category-view-name">{{$name}}</p>

    <hr>
    <div class="category-view-container">

        <!-- Start right category page content -->
        <div class="right-col">

            <!-- Start main section of category-->
            <div class="main-category-section">

                <!-- Right main news sidebar -->
                <div class="right-sidebar">

                    <!-- List of main news items -->
                    <div $for="news of listMainNews" class="news-list">
                        <div class="news">
                            <div $click="changeMainNews($news)" class="centered-img-background right-side-image" style="background-image: url({{$news.attachments}});">
                                <span>{{$news.title}}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Start main news section -->
                <div class="main-section">
                    <div class="main-news">

                        <!-- Main news image -->
                        <div id="category-main-news-image" class="centered-img-background" style="background-image: url({{$mainNews.attachments}});"></div>

                        <!-- Main news details -->
                        <div class="details">
                            <h3 id="category-main-news-title">{{$mainNews.title}}</h3>
                            <div id="category-main-news-writng-details">
                                <div id="category-main-news-writer">{{$mainNews.writer}}</div>
                                <img src="img/calenderIcon.png" alt="calender icon">
                                <span id="category-main-news-date">{{$mainNews.createDate}}</span>
                            </div>
                            <div id="category-main-news-content-news">{{$mainNews.content}}</div>
                        </div>

                        <!-- See more details -->
                        <div id="category-see-more">
                            <a href="#/details/{{$mainNews.id}}">
                                <img src="img/arrowIcon.png" alt="arrow icon">
                                <p>اقرأ المزيد</p>
                            </a>
                        </div>

                    </div>
                </div>
                <!-- End main news section -->

            </div>
            <!-- End main section of category-->

            <!-- Start related category news -->
            <div class="relates-news">

                <!-- Lift related news list -->
                <div class="related-news-left">
                    <ul $for="news of rightNewsInCategory" id="related-news-menu-right">
                        <a href="#/details/{{$news.id}}">
                            <li>
                                <img src="{{$news.img}}" alt="photo">
                                <p>{{$news.title}}</p>
                            </li>
                        </a>
                    </ul>
                </div>

                <!-- Right related news list -->
                <div class="related-news-left">
                    <ul $for="news of liftNewsInCategory" id="related-news-menu-right">
                        <a href="#/details/{{$news.id}}">
                            <li>
                                <img src="{{$news.img}}" alt="photo">
                                <p>{{$news.title}}</p>
                            </li>
                        </a>
                    </ul>
                </div>

            </div>
            <!-- End related category news -->

        </div>
        <!-- End right category page content -->


        <!-- Lift category page content -->
        <div class="left-col">

            <!-- List of random news  -->
            <p class="title">منوعات</p>
            <ul $for="news of randomNews" id="random-content">
                <li class="card random-new" id="{{$news.id}}">
                    <img src="{{$news.img}}" alt="">
                    <a href="#/details/{{$news.id}}">{{$news.title}}</a>
                </li>
            </ul>

        </div>

    </div>
</div>
