<!--
    NNN website.

    This file is part of the NNN website.

    Authors:Abed Al-Fattah Hroub,Latifa Masri

    File description:Here we design and write the html code for the show and details of the news,
                     based on the design included in the Prototype
-->


<!-- HEADER -->
<div class="header" $include="/templates/header.html ,/controllers/header.js"></div>

<div>
    <div class="details-page-wrapper">
        <!-- Contains news title and photo & Show other related news -->
        <div class="news-content">
            <section class="news-header" id="news">
                <span>
                    <h1>
                        {{$news.title}}
                    </h1>
                    <div>
                        <div class="main-img" style=" background-image: url('{{$news.attachment}}');">

                        </div>
                        <div class="news-more-info">
                            <p class="authorName">{{$writer.firstName}} {{$writer.lastName}}</p>
                            <img src="../img/calenderIcon.png">
                            <p class="published">{{$news.createDate}}</p>
                        </div>
                    </div>

                 </span>
                <article class="article" id="article">
                    <span>

                        <p>
                            {{$news.content}}
                        </p>
                    </span>
                </article>
            </section>

            <aside class="news-related">

                <ul class="related-news-menu">

                    <div class="related-header">
                        <h4>ذات صلة </h4>
                    </div>

                    <!-- <li> -->
                    <div $for="relatedNew of relatedNews">
                        <li class="list-n">
                            <a href="#/details/{{$relatedNew._id}}">

                                <img src="{{$relatedNew.attachment}}" alt="صورة"> {{$relatedNew.title}}

                            </a>
                        </li>
                    </div>
                    <!-- </li> -->

                </ul>
            </aside>
        </div>
        <!-- Contains  news sharing -->
        <div class="news-body">
            <article class="article" id="article">
                <span>
                    <p>
                        {{$news.content}}
                    </p>
                </span>
            </article>

            <section class="news-sharing">

                <div class="sharethis-inline-share-buttons"></div>

            </section>

        </div>

    </div>

    <!-- </span> -->
    <!-- Contains comments section -->
    <div id="disqus_thread">{{$disqus()}}</div>

</div>
