<!--
    NNN website.

    This file is part of the NNN website.

    Authors:Abed Al-Fattah Hroub,Latifa Masri

    File description:Here we design and write the html code for the show and details of the news,
                     based on the design included in the Prototype
-->




<!--

    header & nav

   -->

<div>
    <div class="details_page_wrapper">
        <!-- Contains news title and photo & Show other related news -->
        <div class="news-content">
            <section class="news_header" id="news">
                <span $for="relatedNew of relatedNews">

                    <h1 $if="$relatedNew.id == $routeParams.newID">
                        {{$relatedNew.title}}
                    </h1>
           
                    <div $if="$relatedNew.id == $routeParams.newID">
                        <div class="main_img" style=" background-image: url(../img/{{$relatedNew.img}});">
                            {{$relatedNew.id}}
                        </div>
                    </div>
                
                 </span>
            </section>

            <aside class="news_related">

                <ul class="related_news_menu">

                    <li class="related-header">
                        <h4>ذات صلة </h4>
                        <div class="border">_____________________________________________________</div>
                    </li>

                    <!-- <li> -->
                    <div $for="relatedNew of relatedNews">
                        <li class="list-n">
                            <a href="#/details/{{$relatedNew.id}}">

                                <img src="../img/{{$relatedNew.img}}" alt="صورة"> {{$relatedNew.title}}

                            </a>
                        </li>
                    </div>
                    <!-- </li> -->


                </ul>
            </aside>
        </div>
        <!-- Contains the full text of the news & news sharing -->
        <div class="news-body">
            <article class="article" id="article">
                <span $for="relatedNew of relatedNews">

                    <p $if="$relatedNew.id == $routeParams.newID">
                        {{$relatedNew.content}}
                    </p>
                </span>
            </article>

            <section class="news_sharing">

                <div id="share-button" class="share-buttons">

                    <!-- Facebook -->
                    <a>
                        <img src="img/facebook.png" alt="Facebook" />
                    </a>

                    <!-- LinkedIn -->
                    <a>
                        <img src="img/linkedin.png" alt="LinkedIn" />
                    </a>

                    <!-- instagram -->
                    <a>
                        <img src="img/instagram.png" alt="instagram" />
                    </a>

                    <!-- share -->
                    <a>
                        <img src="img/share.png" alt="share" />
                    </a>

                </div>

                <div class="about">

                    <!-- schedule -->
                    <a>
                        <img src="img/schedule.png" alt="Facebook" />
                    </a>

                    <!-- comment -->
                    <a>
                        <img src="img/comment.png" alt="LinkedIn" />
                    </a>

                    <!-- writer -->
                    <a>
                        <img src="img/writer.png" alt="instagram" />
                    </a>



                </div>

            </section>

        </div>

    </div>

    <!-- </span> -->
    <!-- Contains comments section -->
    <div class="comments">
        <div class="add_comment">
            <div class="comment">

                <img src="img/avatar.png" alt="">
                <p>user name</p>
            </div>
            <div class="add">
                <input type="text" name="" value="">
                <button type="button" name="button">اضف تعليق</button>
            </div>
        </div>
        <div class="list_comment">
            <ul>
                <li>
                    <img src="img/avatar.png" alt="صورة">
                    <p> لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات </p>
                </li>
                <li>
                    <img src="img/avatar.png" alt="صورة">
                    <p> أعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة، وهو العطاء الذي مُنح لشركة مايكروسوفت. </p>
                </li>
                <li>
                    <img src="img/avatar.png" alt="صورة">
                    <p> أعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة، وهو العطاء الذي مُنح لشركة مايكروسوفت. </p>
                </li>
            </ul>
        </div>
    </div>

</div>




<!--

     footer

   -->