<!--
    NNN website.

    This file is part of the NNN website.

    Authors:Abed Al-Fattah Hroub,Latifa Masri

    File description:Here we design and write the html code for the show and details of the news,
                     based on the design included in the Prototype
-->


<!-- HEADER -->
<div class="header" $include="/templates/header.html ,/controllers/header.js"></div>

<div>
    <div class="details-page-wrapper">
        <!-- Contains news title and photo & Show other related news -->
        <div class="news-content">
            <section class="news-header" id="news">
                <span $for="relatedNew of relatedNews" class="news-info">

                    <h1 $if="$relatedNew.id == $routeParams.id">
                        {{$relatedNew.title}}
                    </h1>

                    <div $if="$relatedNew.id == $routeParams.id">
                        <div class="main-img" style=" background-image: url(../img/{{$relatedNew.img}}); width: 100%;">
                            .
                        </div>
                        <div class="news-more-info">
                            <p class="authorName">{{$relatedNew.authorName}}</p>
                            <p class="published">{{$relatedNew.publishedDate}}</p>
                            <img src="../img/calenderIcon.png">
                        </div>
                    </div>

                 </span>
                <article class="article" id="article">
                    <span $for="relatedNew of relatedNews">

                        <p $if="$relatedNew.id == $routeParams.id">
                            {{$relatedNew.content}}
                        </p>
                    </span>
                </article>
            </section>

            <aside class="news-related">

                <ul class="related-news-menu">

                    <div class="related-header">
                        <h4>ذات صلة </h4>
                    </div>

                    <!-- <li> -->
                    <div $for="relatedNew of relatedNews">
                        <li class="list-n">
                            <a href="#/details/{{$relatedNew.id}}">

                                <img src="../img/{{$relatedNew.img}}" alt="صورة"> {{$relatedNew.title}}

                            </a>
                        </li>
                    </div>
                    <!-- </li> -->


                </ul>
            </aside>
        </div>
        <!-- Contains  news sharing -->
        <div class="news-body">

            <section class="news-sharing">

                <div class="sharethis-inline-share-buttons"></div>

            </section>

        </div>

    </div>

    <!-- </span> -->
    <!-- Contains comments section -->
    <div class="comments">
        <div class="add-comment">
            <div class="comment">

                <img src="img/avatar.png" alt="">
                <p>user name</p>
            </div>
            <div class="add">
                <input type="text" name="" value="">
                <button type="button" name="button">اضف تعليق</button>
            </div>
        </div>
        <div class="list-comment">
            <ul>
                <li>
                    <img src="img/avatar.png" alt="صورة">
                    <p> لبنان.. دعوات لقطع الطرقات في اليوم الـ40 لانطلاق الاحتجاجات </p>
                </li>
                <li>
                    <img src="img/avatar.png" alt="صورة">
                    <p> أعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة، وهو العطاء الذي مُنح لشركة مايكروسوفت. </p>
                </li>
                <li>
                    <img src="img/avatar.png" alt="صورة">
                    <p> أعلنت شركة أمازون الأميركية أنها تقاضي وزارة الدفاع (بنتاغون) بسبب استثنائها من عطاء بقيمة عشرة مليارات دولار لتقديم ما يسمى خدمات "الحوسبة السحابية" للوزارة، وهو العطاء الذي مُنح لشركة مايكروسوفت. </p>
                </li>
            </ul>
        </div>
    </div>

</div>
