<h1 style="font-family:verdana;">This is a heading</h1>
<tag $if="$x">if hello {{$Message}}</tag>
<button $disabled="" $click="tryClick(2)">disabeld</button>
<!-- <button $disabled="">disabeld</button> -->
<h1  class="hello" $class = "'hello': $x, 'meow':$x"> style test </h1>
<h1 $style = "'background-color: red; color:yellow;' : $x, 'font-size:100px' : $x"> style test </h1>
{{$Message}}
<span $for = "n of items">
    <span $for = "n of items">
        <h1>
            hello {{$index + 1}} i missed {{$n}}  {{$n}} {{$n}} {{$index}} <br>
        </h1>
    </span>
</span>

<div $for = "n of items">
    <p $click="tryClick($i)">OUTER: {{$i}}</p>
    <div $for = "k of items">
        <p $click="tryClick($k)">INNER: {{$i}} hello {{$k}}</p>
    </div>
</div>

<div $for = "n of arr2d">
    <div $for = "h of n:k" >
        {{$h}}
    </div>
</div> 