<!--
    NNN website.

    This file is part of the NNN website.

    Authors:
    Qusai Hroub <qusaihroub.r@gmail.com>
    Rahmeh Tartouri <rahmeh.tartouri@gmail.com>
    Aseel Arafeh <arafehaseel@gmail.com>
    Suhair Shareef <suhairshareef1999@gmail.com>

    File description:
-->

<!-- HOME VIEW -->
<div class="home-view">

    <!-- LATEST NEWS -->
    <div class="latest-news">
        <div class="latest-news-container">
            <div class="latest-news-list-header">
                <p>آخر الأخبار</p>
            </div>
            <div $for="news of mainNews" id="latest-news-list">
                <div class="news">
                    <img src="{{$news.img}}" width="170px" height="90px">
                    <p>{{$news.title}}</p>
                </div>
            </div>
        </div>
        <div id="latest-news-more-detailed-container">
            <div class="latest-news-more-detailed-image-div">
                <img class="latest-news-more-detailed-image" src="{{$selectedNews.img}}" width="620px" height="340px">
            </div>
            <div class="latest-news-more-detailed-title-and-date">
                <div class="latest-news-more-detailed-title">
                    <h4>{{$selectedNews.title}}</h4>
                </div>
                <div class="latest-news-more-detailed-date">
                    <p class="authorName">{{$selectedNews.authorName}}</p>
                    <img src="img/calenderIcon.png" width="15px" height="15px">
                    <p class="published">{{$selectedNews.publishedDate}}</p>
                </div>
            </div>
            <div class="latest-news-more-detailed-paragraph">
                <p>{{$selectedNews.description}}</p>
            </div>
            <div class="latest-news-more-detailed-readmore-button">
                <a href="#/details/{{$selectedNews.id}}">
                    <img src="img/arrowIcon.png" width="17px" height="17px">
                    <p>اقرأ المزيد</p>
                </a>
            </div>
        </div>
    </div>

    <!-- RANDOM NEWS -->
    <div class="random-news">
        <div class="imagesPrev"><img $click="plusDivs(-1)" src="img/arrow.png" ></div>

        <div $for="news of randomNews" id="rendom-news-container" class="rendom-news-container">
            <div class="slider-news-tile" style="background-image: url({{$news.img}});">
                <div class="date">{{$news.publishedDate}}</div>
                <div class="news">
                    {{$news.title}}
                </div>
            </div>
        </div>

        <div class="imagesNext"><img $click="plusDivs(1)" src="img/arrow-left.png"></div>
    </div>

    <!-- CATEGORY SECTION -->
    <div class="category-section">
        <div class="category-container">
            <div class="category-header" id="title"></div>
            <hr>
            <div class="category-content">
                <div class="category-content-main" id="main-news"></div>
                <div class="category-content-random" id="sub-news"></div>
            </div>
        </div>
    </div>
</div>

<script src="../controller/home.js"></script>
