.head {
  height: 100px;
  margin-top: 8%; }

.head-title {
  direction: rtl;
  margin-right: 2%;
  font-size: 73px;
  color: #707070; }

.user-info {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2%; }

.contain {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid #e7e7e7 1px;
  margin-top: 3%; }

.user-fname {
  display: flex;
  flex-direction: row;
  direction: rtl;
  margin-top: 14px;
  justify-content: center; }

.first-name {
  margin-top: 3%;
  margin-left: 2%;
  font-size: 30px; }

.user-firstname {
  border: solid #e7e7e7 1px;
  text-align: center;
  width: 50%;
  height: 40px;
  margin-top: 1%;
  margin-right: 6%; }

.fname {
  height: 95%;
  width: 96%;
  border: none;
  outline: none;
  font-size: 31px;
  margin-right: 3%; }

.user-lname {
  display: flex;
  flex-direction: row;
  direction: rtl;
  margin-top: 14px;
  justify-content: center; }

.last-name {
  margin-top: 3%;
  margin-left: 2%;
  font-size: 30px; }

.user-lastname {
  border: solid #e7e7e7 1px;
  text-align: center;
  width: 50%;
  height: 40px;
  margin-top: 1%;
  margin-right: 6%; }

.lname {
  height: 95%;
  width: 96%;
  border: none;
  outline: none;
  font-size: 31px;
  margin-right: 3%; }

.user-email {
  display: flex;
  flex-direction: row;
  direction: rtl;
  margin-top: 14px;
  justify-content: center; }

.email-name {
  margin-top: 3%;
  margin-left: 2.7%;
  font-size: 30px; }

.email-of-user {
  border: solid #e7e7e7 1px;
  text-align: center;
  width: 50%;
  height: 40px;
  margin-top: 1%;
  margin-right: 10%; }

.email {
  height: 95%;
  width: 96%;
  border: none;
  outline: none;
  font-size: 31px;
  margin-right: 3%; }

.user-password {
  display: flex;
  flex-direction: row;
  direction: rtl;
  margin-top: 14px;
  justify-content: center; }

.pass-name {
  margin-top: 3%;
  margin-left: 2.1%;
  font-size: 30px; }

.pass {
  border: solid #e7e7e7 1px;
  text-align: center;
  width: 50%;
  height: 40px;
  margin-top: 1%;
  margin-right: 5%; }

.password {
  height: 95%;
  width: 96%;
  border: none;
  outline: none;
  font-size: 31px;
  margin-right: 3%; }

.user-conpassword {
  display: flex;
  flex-direction: row;
  direction: rtl;
  margin-top: 14px;
  justify-content: center; }

.conpass-name {
  margin-top: 3%;
  margin-left: 2.1%;
  font-size: 30px; }

.conpass {
  border: solid #e7e7e7 1px;
  text-align: center;
  width: 50%;
  height: 40px;
  margin-top: 1%;
  margin-right: -1%; }

.conpassword {
  height: 95%;
  width: 96%;
  border: none;
  outline: none;
  font-size: 31px;
  margin-right: 3%; }

.create-new-user {
  margin-top: 14px;
  font-size: 30px;
  border-radius: 15px;
  width: 31%;
  padding: 1%;
  outline: none;
  background-color: #c8f3d9;
  cursor: pointer;
  margin-right: 60%;
  border: none;
  margin-bottom: 2.5%; }

.username {
  display: flex;
  flex-direction: row;
  direction: rtl;
  margin-top: 14px;
  justify-content: center; }

.name-of-user {
  margin-top: 3%;
  margin-left: 2.1%;
  font-size: 30px; }

.user-nname {
  border: solid #e7e7e7 1px;
  text-align: center;
  width: 50%;
  height: 40px;
  margin-top: 1%;
  margin-right: 4%; }

.name-user {
  height: 95%;
  width: 96%;
  border: none;
  outline: none;
  font-size: 31px;
  direction: ltr;
  margin-left: 3%; }

/*# sourceMappingURL=global.css.map */
