/*
     NNN website.

     This file is part of the NNN website.

     Authors:Latifa Masri and Abed Al-Fattah Hroub

     File description: this filew contain scss style of the detailes page
*/

// this line make import functions that exist in -function.css
@import "_functions.scss";
@import "_variables.scss";

@media screen and (min-height: 811px) {
    .news-content {
        .news-related {
            ul li {
                img {
                    width: 200px;
                }
            }
        }
        .news-header {
            h1 {
                font-size: $font-size + 15;
            }
            .main-img {
                width: 1082px;
                height: 570px;
            }
        }
    }
}

@media screen and (max-height: 810px) {
    .news-content {
        .news-related {
            ul li {
                img {
                    width: 190px;
                }
            }
        }
        .news-header {
            h1 {
                font-size: $font-size + 6.25;
            }
            .main-img {
                width: 812px;
                height: 432px;
            }
        }
    }
}

@media screen and (max-height: 768px) {
    .news-content {
        .news-related {
            ul li {
                img {
                    width: 180px;
                }
            }
        }
        .news-header {
            h1 {
                font-size: $font-size + 4.88888;
            }
            .main-img {
                width: 770px;
                height: 400px;
            }
        }
    }
}

* {
    direction: rtl;
}

#disqus_thread {
    margin-right: 10px;
    margin-left: 10px;
}

#disqus_thread {
    position: relative;
}

#disqus_thread:after {
    content: "";
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
}

.news-content {
    margin-top: 4%;
    font-family: $newsText-fontFamily;
    border-top: solid 1px #707070;
    margin-bottom: 0%;
    @include flex-property(row, flex-end, null, 100%);
    .news-related {
        @include flex-property(column, flex-start, flex-start, 33%);
        .related-news-menu {
            width: 75%;
            @include flex-property(column, flex-start, flex-start, 100%);
            list-style-type: none;
            .list-n {
                margin-left: 20px;
                a {
                    @include flex-property(row, center, flex-start, 100%);
                }
                img {
                    margin: 10px 10% 0% 2%;
                }
                a:link {
                    text-decoration: none;
                }
                a:visited {
                    text-decoration: none;
                    color: rgb(64, 64, 179);
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .related-header {
                color: #0C4D6D;
                margin-right: 8%;
                margin-top: 2%;
                padding-bottom: 2%;
                width: 88%;
                margin-bottom: 2%;
                border-bottom: solid 1px #707070;
            }
        }
    }
    .news-header {
        .news-info {
            width: 83%;
        }
        margin-top: 2%;
        h1 {
            margin-right: 10%;
            margin-bottom: 4%;
        }
        @include flex-property(column, flex-start, flex-start, 67%);
        .main-img {
            height: 570px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin-right: 10%;
            margin-bottom: 30px;
        }
        .news-more-info {
            @include flex-property(row, flex-, flex-end, 100%);
            // float: right;
            color: #4D4F5C;
            margin-top: 0px;
            font-size: 18px;
            color: #919192;
            .authorName {
                margin-left: 3%;
                margin-right: 10%;
            }

            .published {
                margin-left: 10%;
                margin-right: 3%;
            }

            img {
                margin-left: 0%;
                width: 20px;
                height: 20px;
            }
        }
        .article {
            font-size: $font-size + 5;
            margin-right: 50px;
            p {
                padding: 50px;
            }
        }
    }
}

.news-body {
    font-size: $font-size + 5;
    margin-right: 50px;
    p {
        padding: 50px;
    }
    .news-sharing {
        direction: ltr;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        .share-buttons {
            text-align: center;
            margin: 0 auto;
            a img {
                float: left;
                width: 30px;
                height: 30px;
                padding: 5px;
                border: 0;
                box-shadow: 0;
            }
        }
        .about {
            text-align: center;
            margin: 0 auto;
            a img {
                float: left;
                width: 25px;
                height: 25px;
                padding: 5px;
                border: 0;
                box-shadow: 0;
            }
            p {
                font-size: $font-size + 5;
                font-family: $newsText-fontFamily;
                padding-bottom: 10px;
            }
        }
    }
}
