/*
     NNN website.

     This file is part of the NNN website.

     Authors:Latifa Masri and Abed Al-Fattah Hroub

     File description: this filew contain scss style of the detailes page
*/

// this line make import functions that exist in _function.css
@import "_functions.scss";
@import "_variables.scss";

/*
part1 contain the header of the new and the related news
*/

@media screen and (max-height: 1080px) {
    .news-content {
        .news-related {
            ul li {
                img {
                    width: 200px;
                }
            }
        }
        .news-header {
            .main-img {
                img {
                    // width: 1210px;
                    height: 570px;
                }
            }
        }
    }
}

@media screen and (max-height: 810px) {
    .news-content {
        .news-related {
            ul li {
                img {
                    width: 190px;
                }
            }
        }
        .news-header {
            .main-img {
                img {
                    // width: 1200px;
                    height: 570px;
                }
            }
        }
    }
}

@media screen and (max-height: 768px) {
    .news-content {
        .news-related {
            ul li {
                img {
                    width: 180px;
                }
            }
        }
    }
}

* {
    direction: rtl;
}

.news-content {
    margin-top: 60px;
    font-family: $newsText-fontFamily;
    border-top: solid 1px #707070;
    margin-bottom: 0%;
    @include flex-property(row, flex-end, center, 100%);
    .news-related {
        @include flex-property(column, flex-start, flex-start, 33%);
        .related-news-menu {
            width: 75%;
            @include flex-property(column, flex-start, flex-start, 100%);
            list-style-type: none;
            .list-n {
                margin-left: 20px;
                ;
                // border-top: rgb(114, 109, 109) solid 1px;
                a {
                    @include flex-property(row, center, flex-start, 100%);
                }
                img {
                    margin: 10px 10% 0% 2%;
                }
                a:link {
                    text-decoration: none;
                }
                a:visited {
                    text-decoration: none;
                    color: rgb(64, 64, 179);
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .related-header {
                color: #0C4D6D;
                margin-right: 50px;
                .border {
                    color: #707070;
                }
            }
        }
    }
    .news-header {
        h1 {
            font-size: $font-size + 15;
            margin-right: 10%;
            margin-bottom: 2%;
        }
        @include flex-property(column, flex-start, flex-start, 67%);
        .main-img {
            height: 570px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin-right: 10%;
            margin-bottom: 30px;
            padding: 50px;
            // margin-left: 100px;
        }
    }
}

.news-body {
    font-size: $font-size + 5;
    margin-right: 50px;
    p {
        padding: 50px;
    }
    .news-sharing {
        direction: ltr;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        .share-buttons {
            text-align: center;
            margin: 0 auto;
            a img {
                float: left;
                width: 30px;
                height: 30px;
                padding: 5px;
                border: 0;
                box-shadow: 0;
            }
        }
        .about {
            text-align: center;
            margin: 0 auto;
            a img {
                float: left;
                width: 25px;
                height: 25px;
                padding: 5px;
                border: 0;
                box-shadow: 0;
            }
            p {
                font-size: $font-size + 5;
                font-family: $newsText-fontFamily;
                padding-bottom: 10px;
            }
        }
    }
}

.comments {
    font-size: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
    padding-top: 20px;
    justify-content: center;
    .add-comment {
        display: grid;
        grid-template-rows: 50% 50%;
        border-left: solid 2px #707070;
        .comment {
            vertical-align: bottom;
            display: grid;
            grid-template-columns: 30% 70%;
            img {
                width: 45px;
                height: 45px;
                padding-right: 60%;
                padding-top: 155px;
            }
            p {
                padding-left: 70%;
                padding-top: 145px;
            }
        }
        .add {
            width: 70%;
            display: grid;
            grid-template-columns: 70% 30%;
            margin: 0 auto;
            input {
                height: 20%;
                border-radius: 0 10px 10px 0;
                border: solid 3px #EBEDED;
            }
            button {
                height: 20%;
                background-color: #EBEDED;
                border: none;
                border-radius: 10px 0 0 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
    .list-comment {
        margin-left: 20px;
        li {
            list-style-type: none;
        }
        img {
            width: 45px;
            height: 45px;
            padding: 0px;
        }
        p {
            padding-bottom: 15px;
        }
    }
}