/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Rahmeh Tartouri <rahmeh.tartouri@gmail.com>
     Aseel Arafeh <arafehaseel@gmail.com>
     Suhair Shareef <suhairshareef1999@gmail.com>

     File description:
     this file for slider design
*/

@import './variables';
@import './functions';

@include initialFormat();

@media screen and (min-height: 811px) {

    .latest-news{
        padding-top: 28px;

        .latest-news-container {
             margin-right: 170px;
             margin-left: auto;
             height: 650px;
             width: 590px;
             p {
                 font-size:17px;
             }
         }
     }

    #latest-news-more-detailed-container {
        margin-left: 170px;

    }

    .latest-news-more-detailed-image-div  {
        img{
            width: 922px;
            height: 505px;
        }
     }

     .news {

        a{
            margin-top: 30px;
        }

        img {

            width: 174px;
            height: 97px;
        }


     }

     .latest-news-more-detailed-paragraph {
        margin-top: 19px;
    }

    .random-news {
        width: 1448px;
        height: 280px;
        margin-top: 100px;
        .slider-news-tile {

            width: 446px;
            height: 251px;
            background-size: 446px 251px;

            .news{

                bottom: -70px;
                font-size: 19px;
            }

            .date{

                margin-bottom: 90px;
                margin-top: 10px;
                margin-right: 12px;
                font-size: 18px;
            }
        }
        .imagesNext {

            top:103px;
            left: 55px;

            img{

                width:$arrow-width +5;
                height:$arrow-height +5;
            }
        }

        .imagesPrev {

            top:103px;
            right: 37px;

            img{

                width:$arrow-width +5;
                height:$arrow-height +5;
            }
        }
    }

    .category-section{
        height: 653px;

        .category-container{

            right: 253px;
            width: 1419px;

            .category-header{

                height: 92px;
                padding: 20px;

                .category-header-name{

                    font-size: 28px;
                }

                .category-read-more{

                    font-size: 24px;
                }
            }

            hr{

                margin-bottom: 34px;
            }

            .category-content{

                .category-content-main{

                    width: 690px;
                    height: 540px;
                    margin-left: 27px;

                    img{

                        width: 676px;
                        height: 380px;
                        margin-bottom: 15px;
                    }

                    .category-main-title-and-date{
                        margin-bottom: 17px;
                        margin-right: 10px;

                        .category-main-title{

                            font-size: 19px;
                            max-width: 500px;

                        }
                        .category-main-date{

                            font-size: 11px;
                        }
                    }

                    .category-main-details{

                        font-size: 16px;
                        max-width: 630px;
                        max-height: 45px;
                        margin-right: 10px;
                        margin-bottom: 8px;

                    }

                }

                .category-content-random{

                    grid-column-gap: 33px;
                    grid-row-gap: 0px;
                    width: 696px;
                    height: 505px;

                    .category-content-random-item{

                        max-height: 233px;

                        .category-img-rnd{

                            max-width: 323px;
                            max-height: 187px;
                            margin-bottom: 10px;

                        }

                        .category-randome-title{

                            font-size: 17px;
                            max-width: 278px;
                            max-height: 50px;

                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-height: 810px) {

    .latest-news{
        padding-top: 21px;

        .latest-news-container {
             margin-right: 127.5px;
             margin-left: auto;
             height: 487.5px;
             width: 442.5px;
             p {
                 font-size:12.75px;
             }
         }
     }

    #latest-news-more-detailed-container {
        margin-left: 127.5px;

    }

    .latest-news-more-detailed-image-div  {
        img{
            width: 691.5px;
            height: 378.75px;
        }
     }

     .news {

        a{
            margin-top: 25px;
        }

        img {

            width: 130.5px;
            height: 72.75px;
        }
     }

     .latest-news-more-detailed-paragraph {
        margin-top: 14px;
    }

    .random-news {
        width: 1086px;
        height: 210px;
        margin-top: 75px;
        .slider-news-tile {

            width: 334.5px;
            height: 188.25px;
            background-size: 334.5px 188.25px;

            .news{

                bottom: -17px;
                font-size: 16px;
            }

            .date{

                margin-bottom: 90px;
                margin-top: 10px;
                margin-right: 12px;
                font-size: 15px;
            }
        }

        .imagesNext {

            top:-117px;
            left: 30;

            img{

                width:$arrow-width;
                height:$arrow-height;
            }
        }

        .imagesPrev {

            top:70px;
            right: 30px;

            img{

                width:$arrow-width;
                height:$arrow-height;
            }
        }
    }
    .category-section{

        height: 489.75px;

        .category-container{

            right: 189.75px;
            width: 1064.25px;

            .category-header{

                height: 69px;
                padding: 15px;

                .category-header-name{

                    font-size: 21px;
                }

                .category-read-more{

                    font-size: 18px;
                }
            }

            hr{

                margin-bottom: 25.5px;
            }

            .category-content{

                .category-content-main{

                    width: 517.5px;
                    height: 405px;
                    margin-left: 20.25px;

                    img{

                        width: 507px;
                        height: 285px;
                        margin-bottom: 11.25px;
                    }

                    .category-main-title-and-date{

                        margin-bottom: 12.75px;
                        margin-right: 7.5px;

                        .category-main-title{

                            font-size: 14.25px;
                            max-width: 375px;

                        }

                        .category-main-date{

                            font-size: 8.25px;
                        }
                    }

                    .category-main-details{

                        font-size: 12px;
                        max-width: 472.5px;
                        max-height: 33.75px;
                        margin-right: 7.5px;
                        margin-bottom: 6px;

                    }
                }

                .category-content-random{

                    grid-column-gap: 24.75px;
                    grid-row-gap: 0px;
                    width: 522px;
                    height: 378.75px;

                    .category-content-random-item{

                        max-height: 174.75px;

                        .category-img-rnd{

                            max-width: 242.25px;
                            max-height: 140.25px;
                            margin-bottom: 7.5px;

                        }

                        .category-randome-title{

                            font-size: 12.75px;
                            max-width: 208.5px;
                            max-height: 37.5px;

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 768px) {

    .latest-news{
        padding-top: 20px;

        .latest-news-container {
             margin-right: 121px;
             margin-left: auto;
             height: 462.2222px;
             width: 420px;
             p {
                 font-size:12px;
             }
         }
    }

    #latest-news-more-detailed-container {
        margin-left: 121px;

    }

    .latest-news-more-detailed-image-div  {
        img{
            width: 656.925px;
            height: 359.111px;
        }
     }

     .news {

        a{
            margin-top: 20px;
        }

        img {

            width: 123.975px;
            height: 68.977777778px;
        }
     }


     .latest-news-more-detailed-paragraph {
        margin-top: 10px;
    }

    .random-news {
        width: 1020px;
        height: 199.111111px;
        padding-top: 71.111111px;
        .slider-news-tile {

            width: 317.775px;
            height: 178.4888889px;
            background-size: 317.775px 178.4888889px;

            .news{

                bottom: -10px;
                font-size: 15px;
            }

            .date{

                margin-bottom: 90px;
                margin-top: 10px;
                margin-right: 12px;
                font-size: 14px;
            }
        }

        .imagesNext {

            top:-110px;
            left:18px;

            img{

                width:$arrow-width - 5;
                height:$arrow-height - 5 ;
            }
        }
        .imagesPrev {

            top:70px;
            right: 24px;

            img{

               width:$arrow-width - 5;
               height:$arrow-height - 5;
           }
       }
    }
    .category-section{

        height: 463.63px;

        .category-container{

            right: 179.63px;
            width: 1007.49px;

            .category-header{
                height: 65.32px;
                padding: 14.2px;

                .category-header-name{

                    font-size: 19.88px;
                }

                .category-read-more{

                    font-size: 17.04px;
                }
            }

            hr{

                margin-bottom: 24.14px;
            }

            .category-content{

                .category-content-main{

                    width: 489.9px;
                    height: 383.4px;
                    margin-left: 19.17px;

                    img{

                        width: 479.96px;
                        height: 269.8px;
                        margin-bottom: 10.65px;
                    }

                    .category-main-title-and-date{
                        margin-bottom: 12.07px;
                        margin-right: 7.1px;

                        .category-main-title{

                            font-size: 13.49px;
                            max-width: 355px;

                        }
                        .category-main-date{

                            font-size: 7.81px;
                        }
                    }

                    .category-main-details{

                        font-size: 11.36px;
                        max-width: 447.3px;
                        max-height: 31.95px;
                        margin-right: 7.1px;
                        margin-bottom: 5.68px;

                    }

                }

                .category-content-random{

                    grid-column-gap: 23.43px;
                    grid-row-gap: 0px;
                    width: 494.16px;
                    height: 358.55px;

                    .category-content-random-item{

                        max-height: 165.43px;

                        .category-img-rnd{

                            max-width: 229.33px;
                            max-height: 132.77px;
                            margin-bottom: 7.1px;

                        }

                        .category-randome-title{

                            font-size: 12.07px;
                            max-width: 197.38px;
                            max-height: 35.5px;

                        }
                    }
                }
            }
        }
    }
}


.latest-news {
    display: flex;

    .latest-news-container {

        .latest-news-list-header {

            float:right;
            border-bottom: 1px solid #707070;
            width: 100%;

            p{
                float:right;
                color:#0C4D6D;
                font-size: larger;
                margin-bottom: -0.1px;
            }
        }

        #latest-news-list{
            float: right;
            margin-top:5%;

            .news{

                margin-bottom: 12px;

                a {

                    float: left;
                    margin-right: 10px;
                    color: #707070;
                    text-decoration: none;
                }
            }
        }
    }

    .latest-news-more-detailed-title-and-date {

        .latest-news-more-detailed-title{
            float: right;
            color:#4D4F5C ;
            margin-top: 8px;

        }
    }
}

.latest-news-more-detailed-date{

    .authorName{
        float: left;
        font-size: 12px;
        color: #919192;
        margin-top: 16px;
        margin-right: 10px;
    }

    img {

        float: left;
        margin-top: 16px;
        margin-left: 4px;
        width: 15px;
        height: 15px;


    }

    .published{

        float: left;
        font-size: 12px;
        color: #919192;
        margin-top: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


.latest-news-more-detailed-paragraph {
    float: right;
    color: #707070;
    font-size: 18px;
}

.latest-news-more-detailed-readmore-button {
    margin-top: 50px;
    a{
        text-decoration: none;
        p{
            float: left;
            margin-left: 2px;
            color: #0C4D6D;
            font-size: 17px;
            margin-top: 50px;
        }
        img{
            float: left;
            margin-top: 55px;
            width: 17px;
            height: 17px;
        }
    }
    
}

.random-news {
    margin-left: auto;
    margin-right: auto;

    .rendom-news-container{

        .slider-news-tile {

            @extend %allNews;
            .news{
                position: relative;
                @extend %news;
            }

            .date{
                @extend %newsDate;
            }
        }
    }

    .imagesNext {
        float: left;
        position: relative;
        border: 2px solid #00000000;
        img {

            @extend %sliderArrow;
            float: left;
            margin-left: $arrow-margin;
        }
    }

    .imagesPrev {
        float: right;
        position: relative;
        border: 2px solid #00000000;
        img {

            @extend %sliderArrow;
            float: right;
            margin-right: $arrow-margin;
        }
    }

    .imagesNext:hover, .imagesPrev:hover {
        border: 2px solid #184392;
    }
}


%sliderArrow {

    margin: 2px;
}

%newsDate {

     color:$newsText-color;
     font-family:$newsText-fontFamily;

}

%allNews{

     background-repeat: no-repeat;
     float: $newsImage-float;
     margin-left: $newsImage-margin;

}

%news {

     color: $newsText-color;
     text-align: $newsText-align;
     font-family:$newsText-fontFamily;
}

%arrow {

     width: $arrow-width;
     height: $arrow-height;
     margin-top: $arrow-margin-top;

}

.category-section {

    float: buttom;
    position: relative;
    font-family:$website-font;
    width: 100%;

    .category-container{

        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;

        .category-header{

            display: flex;
            width: 100%;
            justify-content: space-between;
            color: $website-font-color;

            .category-header-name{

                font-weight: lighter;
            }
        }

        hr{

            border-top: 0.2px solid $website-font-color;

        }

        .category-content{

            display: flex;
            width: 100%;
            justify-content: space-between;

            .category-content-main{

                display: flex;
                flex-direction: column;

                .category-main-title-and-date{

                    display: flex;
                    justify-content: space-between;

                    .category-main-title{

                        overflow: hidden;
                        color: #4D4F5C;
                    }
                    .category-main-date{

                        float: left;
                        color: #919192;

                    }


                }

                .category-main-details{

                    color: #7C7C91;
                    overflow: hidden;
                    font-weight: lighter;

                }

                .category-btn{

                    float: left;
                    font-weight: 450;

                }

            }

            .category-content-random{

                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .category-content-random-item{

                .category-randome-title{

                    color: #4D4F5C;
                    overflow: hidden;

                }
            }
        }
    }
}


#category-image {

     object-fit: fill;
     max-width: 100%;
     max-height: 100%;

}

.read-more-btn{

    border: none;
    color:$website-font-color;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.link{

    text-decoration: none;
    color: $website-font-color;
}
