/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Suhair Shareef <suhairshareef1999@gmail.com>

     File description:
     this file for slider design
*/
/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Aseel Arafeh <arafehaseel@gmail.com>
     Suhair Shareef <suhairshareef1999@gmail.com>

     File description:
     this variable special for slider design
*/
/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Aseel Arafeh <arafehaseel@gmail.com>
     Suhair Shareef <suhairshareef1999@gmail.com>
     Authors:Latifa Masri

     File description:this file contain shared function used in different files
*/
/*
     NNN website.

     This file is part of the NNN website.

     Authors:
     Aseel Arafeh <arafehaseel@gmail.com>
     Suhair Shareef <suhairshareef1999@gmail.com>

     File description:
     this variable special for slider design
*/
/*
flex property
@tparam $direction $justify $align : flex property , $w :width
$param $direction: flex direction , $justify: justify content of flex , $align: align flex items ,$width :width of the flex

*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Segoe UI;
}

html, body {
  height: 100%;
  width: 100%;
  direction: rtl;
}

@media screen and (min-height: 811px) {
  .logo-img {
    height: 110px;
  }
  .footer .footer-right img {
    height: 110px;
  }
}

@media screen and (max-height: 810px) {
  .logo-img {
    height: 82.5px;
  }
  .footer .footer-right img {
    height: 82.5px;
  }
}

@media screen and (max-height: 768px) {
  .logo-img {
    height: 78.2222px;
  }
  .footer .footer-right img {
    height: 78.2222px;
  }
}

body {
  width: 100%;
  min-width: 1352px;
  min-height: 649px;
}

body .root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
  background-color: white;
  min-width: 1352px;
  min-height: 649px;
}

body .root .header {
  z-index: 1;
  background-color: white;
  min-height: 87.65px;
  min-width: 1368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 13.658%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
}

body .root .header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 58.644%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  min-height: 52px;
}

body .root .header .navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0.1042%;
}

body .root .header .navbar .navbar-right .logo-img {
  position: relative;
  top: 5px;
  bottom: auto;
  left: auto;
  right: 1.042%;
  resize: both;
  overflow: hidden;
}

body .root .header .navbar .navbar-right .categories-container {
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: auto;
  left: 0;
  right: auto;
}

body .root .header .navbar .navbar-right .categories-container .tab {
  color: black;
  min-width: 100px;
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 1.5%;
  -webkit-border-before: solid 5px white;
          border-block-start: solid 5px white;
  font-weight: 300;
}

body .root .header .navbar .navbar-right .categories-container .tab:hover {
  -webkit-border-before: solid 5px #0C4D6D;
          border-block-start: solid 5px #0C4D6D;
  font-weight: 450;
}

body .root .header .navbar .navbar-right .categories-container .active {
  -webkit-border-before: solid 5px #0C4D6D;
          border-block-start: solid 5px #0C4D6D;
}

body .root .header .navbar .navbar-right .categories-container ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

body .root .header .navbar .navbar-right .categories-container ul .sub-menu {
  position: absolute;
  top: 75%;
  bottom: auto;
  left: 0;
  right: 860px;
  z-index: 1;
  display: none;
  background-color: #0C4D6D;
  color: white;
  min-width: 135px;
  max-width: 135px;
  font-weight: 300;
  height: 140%;
}

body .root .header .navbar .navbar-right .categories-container ul .sub-menu .sub-item {
  min-width: 114px;
  padding: 10px;
}

body .root .header .navbar .navbar-right .categories-container ul .sub-menu .sub-item a {
  color: white;
  text-decoration: none;
  padding: 14px;
}

body .root .header .navbar .navbar-right .categories-container ul .sub-menu .sub-item:hover {
  font-weight: 450;
  background-color: rgba(221, 214, 214, 0.34);
}

body .root .header .navbar .navbar-right .categories-container ul li {
  display: inline-block;
  font-size: 20px;
  margin-top: 0;
}

body .root .header .navbar .navbar-right .categories-container ul li:hover {
  font-weight: 450;
}

body .root .header .navbar .navbar-right .categories-container ul li:hover ul {
  display: block;
}

body .root .header .navbar .navbar-right .categories-container ul li a {
  color: black;
  text-decoration: none;
  padding: 14px;
}

body .root .header .navbar .navbar-right .categories-container .expand-button {
  height: 16px;
  padding-top: 6px;
  padding-right: 3px;
}

body .root .header .navbar .navbar-left {
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}

body .root .header .navbar .navbar-left .login-button {
  background-color: #0C4D6D;
  border: none;
  color: white;
  padding: 3.705% 9.25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top: 22.254%;
  bottom: auto;
  left: 13.67%;
  right: auto;
  font-weight: 300;
  font-size: 100%;
  border-radius: 5%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 11%;
  text-align: center;
  background-color: white;
}

.footer .footer-right {
  right: 1.042%;
  position: fixed;
}

.footer .footer-right img {
  float: right;
}

.view-root {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-top: 7.5%;
  margin-bottom: 6%;
}

.view-root .view {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}
/*# sourceMappingURL=index.css.map */